@charset "utf-8";
/* CSS Document */
.video {
	height: 500px;
	width: 850px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	
}
.body {
	clear: both;
	height: 900px;
	width: 1280px;
	margin-right: auto;
	margin-left: auto;
}

